.about-creativia-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-bottom: 100px;
  .about-creativia-inner{
    .about-creativia-inner-text{
      margin-bottom: 40px;
    }
    .about-creativia-inner-item{
      width: 100%;
      padding: 13px 30px 13px 70px;
      text-align: left;
      cursor: pointer;
      border: 1px solid #e7e7e7;
      outline: transparent;
      background-color: #f7f7f7;
      &:first-child{
        margin-top: 0;
      }
      span{
        border-left: 1px solid #e7e7e7 ;
        padding: 13px 0 13px 30px;
      }
    }
    .about-creativia-inner-item-panel{
      display: none;
    }
  }
}
.accordion-inner{
  position: relative;
  margin-top: 10px;
  &:first-child{
    margin: 0;
  }
  .svg{
    max-width: 18px;
    fill: #8e8e8f;
    position: absolute;
    bottom: 12px;
    cursor: pointer;
    left: 26px;
    border: 1px solid #8e8e8f;
    border-radius: 50%;
    padding: 3px;
    &:first-child{
      display: none;
    }
  }
}
.active{
  span{
    color: #ff0036;
  }
}
.about-creativia-wrapper-img{
  position: relative;
  &:before{
    content: '';
    width: 425px;
    position: absolute;
    bottom: 100%;
    left: 0;
    top: 5px;
    z-index: -1;
    border-bottom: 143px solid #131313;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
  }
  &:after{
    content: '';
    width: 425px;
    position: absolute;
    bottom:0%;
    left: 0;
    z-index: -1;
    border-bottom: 143px solid #131313;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    transform: rotate(180deg);
  }
}
